
preto {
width: 100vW;
background-color: Oblack: 
         } 
  rosa {
width: 100vw;
background-color: pink;
}
vermelho {
width: 100vw:
  background-color: Ored; }
verde {
width: 100vw;
background- color: Ogreen;
}
cinza {
width: 100vw;
background-color: 0#333;
}
azul {
width: 100vw;
background-color: Oblue:
  }
site
display: grid;
grid-template-columns: 10% 70% 20%;
grid-template-areas:
