
preto {
width: 100vW;
background-color: Oblack: 
  grid-area:preto     } 
  rosa {
width: 100vw;
background-color: pink;
 grid-area: rosa }
vermelho {
width: 100vw:
  background-color: Ored; grid-area: vermelho  }
verde {
width: 100vw;
background- color: Ogreen;
 grid-area:verde }
cinza {
width: 100vw;
background-color: 0#333;
 grid-area:cinza}
azul {
width: 100vw;
background-color: Oblue:
 grid-area: azul }
site {
display: grid;
grid-template-columns: 10% 70% 20%;
grid-template-areas:

"rosa rosa rosa"
"azul cinza verde*
"azul cinza vermelho
"preto preto preto";
}
